name: Build and Attach APK to Release

on:
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        working-directory: Project
        run: flutter pub get

      - name: Build APK
        working-directory: Project
        run: flutter build apk --release

      - name: Upload APK to Release
        uses: softprops/action-gh-release@v2
        with:
          files: Project/build/app/outputs/flutter-apk/app-release.apk
